body {
	max-width: 1400px;
	margin: 0 auto;
}

.weather-header {
	background: #26256E;
}

#search-input {
	width: 100%;
	margin-bottom: 10px;
}

.input-group-append {
	display: block;
	width: 100%;
}

#search-button {
	background: #5098E6;
	color: white;
	width: 100%;
	border-radius: 5px;
}

#today {
	padding: 15px;
	border: 1px solid black;
}

#form-heading {
	padding-top: 10px;
}

#todays-headline {
text-transform: capitalize;
}

#forecast {
	padding: 0 12px;
}

.col-day {
    width: 18%;
    background: #697C90;
    color: white;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
  }

  #day-1, #day-2, #day-3, #day-4 {
    margin-right: 2.5%;
  }

  .col-day h2 {
	font-size: 17px;
}